server:
  port: 9000
jwt.secretKey: idnfdnflsjf9a8s7fd89ihq34kljruyf98ayshcskdhfioafsueonfnesdnfkdnojanj
#service-registry

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.cloud.client.ip-address}:${server.port}
    non-secure-port-enabled: true



#add the configs for the api-gateway where we need to indentify that all the reqs coming from here should go to where
spring:
  application:
    name: api-gateway
  cloud:
    inetutils:
      preferred-networks:
        - 127.0.0.1
    gateway:
      routes:
        - id: user-service
          uri: lb://USER-SERVICE    #THIS SHOULD BE IN CAPITAL
          predicates:
            - Path=/api/v1/users/**
          filters:
            - StripPrefix=2

        - id: post-service
          uri: lb://POST-SERVICE
          predicates:
            - Path=/api/v1/posts/**
          filters:
            - StripPrefix=2
            - name: AuthenticationFilter

        - id: connection-service
          uri: lb://CONNECTION-SERVICE
          predicates:
            - Path=/api/v1/connections/**
          filters:
            - StripPrefix=2
            - name: AuthenticationFilter

